NODE_ENV = development
PORT = 8000
CORS_ORIGIN = *
MYSQL_HOST = 
MYSQL_PORT = 
MYSQL_USER = 
MYSQL_PASSWORD = 

CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
CLOUDINARY_CLOUD_NAME = 

ACCESS_TOKEN_SECRET = 2b3e12eccf74b0712fbe2cb2391e56af4d6f3ba8
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = 2b3e12eccf77b0712fbE2cb2391e57af4d6L3ba8
REFRESH_TOKEN_EXPIRY = 30d